@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

/* stylelint-disable @tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable @tailwind */

body {
    @apply text-white font-montserrat;
    background-color: theme('colors.black');
    background-image:
        linear-gradient(theme('colors.darkGrey') 1px, transparent 1px),
        linear-gradient(to right, theme('colors.darkGrey') 1px, transparent 1px);
    background-size: 40px 40px;
}